
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.header-container img {
    max-width: 100px;
    height: auto;
}
.header-title {
    color: white;
    text-align: center;
    flex-grow: 1;
    margin: 0 20px;
    white-space: nowrap;
}
.card-body > .p-2 {
    background-color: #d1e7dd; 
    margin-bottom: 10px;
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}
.c1:hover{
    box-shadow: 2px 2px 2px rgb(94, 87, 87);    
    transform: scale(1.1);
    transition: all 0.9s ease;
}
.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}
.nav-item {
margin-left: 20px; /* Adjust the value as needed */
    }